# Database
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=postgres
DB_PORT=5432

# App
PORT=3000
NODE_ENV=

# JWT / Auth
JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/auth/google/callback

#send mails
RESEND_API_KEY=your_resend_api_key
MAIL_FROM=your_email@example.com